.navbar {
    height: 5rem;
    background: rgb(30,30,30);
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* LOGO */
.logo {
    height: 4.5rem;
    width: auto;
    cursor: pointer;
}

/* MENU */
.desktopMenu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.desktopMenuListItem {
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: white;
    transition: color 0.2s ease, transform 0.2s ease;
}

.desktopMenuListItem:hover {
    color: #007bff;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #007bff ;
    transform: translateY(-2px);
}

/* BUTTON */
.imgButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.desktopMenuImgBtn {
    height: 1.6rem;
    border-radius: 1rem;
    transition: transform 0.2s ease;
}

.desktopMenuImgBtn:hover {
    transform: scale(1.1);
}


.desktopMenuImg {
    height: 1.5rem;
    width: auto;
}

.active {
    color: #007bff;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #007bff;
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rgb(40,40,40);
    border-radius: 1rem;
}

.listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30,30,30);
}

@media screen and (max-width:720px){
    .mobMenu{
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuImgBtn{
        display: none;
    }
}